<section class="sect-one">
    <div class="container">
      <div class="layout-container">
        <div class="layout">
          <div class="sect-one-block">
            <div class="sect-container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
              <div class="sect container-12" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="10px">
                <div class="headline align-left mrg-botval">P2P Transaction History List
                </div>
                <form [formGroup]="form" (ngSubmit)="filterTable()">
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="outer-row">
                    <div style="width: 165px;" class="widthStatus">
                      <div class="inner-row">
                        <label class="form-label">Type</label>
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="Type" formControlName="type" [compareWith]="compareItems">
                            <mat-option value="">All Transactions</mat-option>
                            <mat-option value="buy">Buy</mat-option>
                            <mat-option value="sell">Sell</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="width: 165px;" class="widthStatus">
                      <div class="inner-row">
                        <label class="form-label">Status</label>
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="Status" formControlName="status" [compareWith]="compareItems">
                            <mat-option value="">All Status</mat-option>
                            <mat-option value="processing">Processing</mat-option>
                            <mat-option value="completed">Completed</mat-option>
                            <mat-option value="cancelled">Cancelled</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="width: 250px;" class="widthStatus1">
                      <mat-form-field appearance="fill">
                        <mat-label>Enter Transaction Date Range</mat-label>
                        <mat-date-range-input [rangePicker]="picker" >
                          <input  matInput matStartDate placeholder="Start date" formControlName="fromdate">
                          <input  matInput matEndDate placeholder="End date" formControlName="todate" >
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                    <div class="widthStatusButton">
                      <button mat-button type="submit" class="btn-save">
                        Filter Transactions
                      </button>
                    </div>
                    <div class="widthStatusButton">
                      <button mat-button (click)="ExportToCsv()" type="button" class="btn-save">
                        Export CSV
                      </button>
                    </div>
                    <div>
                      <button mat-button matTooltip="Refresh" mat-icon-button (click)="refresh()" class="btn-save">
                      <mat-icon>refresh</mat-icon>
                      </button>
                  </div>
                  </div>
  
                </form>
                <div class="example-container mat-elevation-z8">
                  <mat-table [dataSource]="p2ptransactionTbl.data.length > 0 && 
                    p2ptransactionTbl.filteredData.length > 0 ? p2ptransactionTbl:emptyData" matSort>               
                    <ng-container matColumnDef="createdDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Transaction Date
                      </mat-header-cell>
                      <mat-cell class="" *matCellDef="let row" data-label="createdDate"
                        ><span class="mobile-label">Transaction Date:</span>
                        <span>{{ row.createdDate | date:"MMM dd, y, HH:mm:ss" }}</span></mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="orderNo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        orderNo
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="orderNo"><span class="mobile-label">orderNo:</span>
                        {{ row.orderNo }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="buyerEmail">
                      <mat-header-cell *matHeaderCellDef>
                        Buyer Name
                      </mat-header-cell>
                      <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="buyerEmail">
                        <span class="mobile-label">Buyer Name:</span>
                        <span>{{ row.buyerName != "" ? row.buyerName : row.buyerEmail }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sellerEmail">
                      <mat-header-cell *matHeaderCellDef>
                        Seller Name
                      </mat-header-cell>
                      <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="sellerEmail">
                        <span class="mobile-label">Seller Name:</span>
                        <span>{{ row.sellerName != "" ? row.sellerName : row.sellerEmail }}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="orderType">
                      <mat-header-cell *matHeaderCellDef>
                       Order Type
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="orderType"><span class="mobile-label">Type:</span>
                        {{ row.orderType}}
                      </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="price">
                      <mat-header-cell *matHeaderCellDef>
                        Price
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="price"><span class="mobile-label">Price:</span>
                        {{ row.price}} {{row.toCurrency}}
                      </mat-cell>
                    </ng-container>
  
                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Status
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="status"><span class="mobile-label">Status:</span>
                        {{row.status == 1 ? 'Completed' : row.status == 2 ? 'Cancelled' : 'Processing'}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef>
                        Action
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index" data-label="action">
                        <span class="material-icons crs-ptr" (click)="viewTransaction(element._id)">
                          preview
                        </span>
                      </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="empty-row">
                      <mat-cell *matCellDef="let element">
                       <span >  No Record Found</span>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: p2ptransactionTbl.data.length > 0 && 
                      p2ptransactionTbl.filteredData.length > 0 ? displayedColumns: ['empty-row']">
                    </mat-row>
                   
                  </mat-table> 
                  <mat-paginator #paginator
                  [length]="length"
                  [pageSize]=10
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="changepage($event)">
                </mat-paginator>
                
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>