
<section class="sect-one">
    <div class="container">
        <div class="layout-container">
            <div class="layout">
                <div class="sect-one-block">
                    <div class="sect-container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
                        <div class="sect container-12" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                          <div class="headline align-left mrg-botval">Currency List
                            <div class="flot-rt">
                              <button
                                mat-button
                                type="button"
                                class="button-cls add-btn vert-texttopalign"
                                (click)="addCurrency()">
                                Add New Currency
                              </button>
                            </div>
                          </div>
                          <form [formGroup]="form" (ngSubmit)="filterTable()">
                            <div
                              fxLayout="row"
                              fxLayoutGap="20px"
                              fxLayoutAlign="start center"
                              class="outer-row"
                              >
                              <div style="width: 165px;" class="widthStatus">
                                <div class="inner-row">
                                  <label class="form-label">Currency Name</label>
                                  <mat-form-field appearance="outline">
                                    <input
                                        matInput
                                        formControlName="currency"
                                        placeholder="Currency Name"
                                    />
                                  </mat-form-field>
                                </div>
                              </div>
                              <div style="width: 165px;" class="widthStatus">
                                <div class="inner-row">
                                  <label class="form-label">Symbol</label>
                                  <mat-form-field appearance="outline">
                                    <input
                                        matInput
                                        formControlName="symbol"
                                        placeholder="Symbol"/>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div style="width: 165px;" class="widthStatus">
                                <div class="inner-row">
                                  <label class="form-label">Base Coin</label>
                                  <mat-form-field appearance="outline">
                                    <input
                                        matInput
                                        formControlName="basecoin"
                                        placeholder="Base Coin"/>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="widthStatusButton">
                              <button mat-button type="submit" class="btn-save">
                              Filter Currency
                              </button>
                              </div>
                              <div class="widthStatusButton">
                                <button mat-button (click)="ExportToCsv()" type="button" class="btn-save">
                                Export CSV
                                </button>
                                </div>
                              <!-- <div style="width: 105px;" class="widthStatus">
                                <label class="form-label">Page</label>
                                <mat-form-field appearance="outline">
                                <input 
                                matInput
                                type="text"
                                formControlName="pageNumber">
                              </mat-form-field>
                              </div> -->
                              <div>
                                <button mat-button matTooltip="Refresh" mat-icon-button (click)="refresh()" class="btn-save">
                                  <mat-icon>refresh</mat-icon>
                                </button>
                              </div>
                        </div>
                          </form>
                            <div class="example-container mat-elevation-z8">
                                <mat-table [dataSource]="currencyTbl.data.length > 0 && currencyTbl.filteredData.length > 0 ? currencyTbl:emptyData" matSort>
                                  <!-- ID Column -->
                                  <ng-container matColumnDef="currencyName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      Currency Name
                                    </mat-header-cell>
                                    <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="currencyName"
                                      ><span class="mobile-label">Currency Name:</span>
                                      <span>{{ row.currencyName }}</span></mat-cell>
                                  </ng-container>
                
                
                                  <ng-container matColumnDef="currencySymbol">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Symbol
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" data-label="currencySymbol"
                                      ><span class="mobile-label">Symbol:</span>
                                      {{ row.currencySymbol }}
                                    </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="basecoin">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      Base Coin
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" data-label="basecoin"
                                      ><span class="mobile-label">Base Coin:</span>
                                      {{ row.basecoin }}
                                    </mat-cell>
                                  </ng-container>
                
                                  <ng-container matColumnDef="image">
                                    <mat-header-cell *matHeaderCellDef>
                                        Icon
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" data-label="image"
                                      ><span class="mobile-label">Icon:</span>
                                      <img class="image-cls" style="width: 30px; height: 30px;"  mat-card-image src="{{ row.image }}" alt="" />
                                    </mat-cell>
                                  </ng-container>
                
                                  <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                       Status
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" data-label="status"
                                      ><span class="mobile-label">Decimal Point:</span>
                                      {{ row.status == 1 ? 'Active' : 'De-Active' }}
                                    </mat-cell>
                                  </ng-container>
                
                                  <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef>
                                       Action
                                    </mat-header-cell>
                                    <mat-cell  *matCellDef="let element; let i = index" data-label="action"
                                      > 
                                      <span class="material-icons crs-ptr" (click)="editCurrency(element._id)">
                                        edit
                                      </span>
                                    </mat-cell>
                                  </ng-container>
                
                                  <ng-container matColumnDef="empty-row">
                                    <mat-cell *matCellDef="let element">
                                     <span >  No Record Found</span>
                                    </mat-cell>
                                  </ng-container>
                
                                  <mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                  ></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: currencyTbl.data.length > 0 && 
                                    currencyTbl.filteredData.length > 0 ? displayedColumns: ['empty-row']">
                                  </mat-row>
                                </mat-table>
                                

                                
                                <mat-paginator #paginator
                                [length]="length"
                                [pageSize]=10
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="changepage($event)">
                              </mat-paginator>

                                
                                    <!-- new code by p -->
                            <!-- <button (click)="backpage()" [disabled]=" buttonDisabled " >
                              <mat-icon>arrow_backward_ios</mat-icon> Back Page
                            </button>
                            &nbsp;
                            <button (click)="nextPage()" [disabled]=" len === 0"  >
                              <mat-icon>arrow_forward</mat-icon> Next Page
                            </button> -->
                              
                               
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>