<section class="sect-one">
    <div class="container">
        <div class="layout-container">
            <div class="layout">
                <div class="sect-one-block">
                    <div class="sect-container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
                        fxLayoutGap="20px">
                        <div class="sect container-12" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
                            fxLayoutGap="10px">
                            <div class="headline align-left mrg-botval">Manual User Balance
                            </div>
                            <form [formGroup]="form" (ngSubmit)="filterTable()">
                              <div
                                fxLayout="row"
                                fxLayoutGap="20px"
                                fxLayoutAlign="start center"
                                class="outer-row"
                                >
                                <div style="width: 165px;" class="widthStatus">
                                  <div class="inner-row">
                                    <label class="form-label">Email</label>
                                    <mat-form-field appearance="outline">
                                      <input
                                          matInput
                                          formControlName="searchQuery"
                                          placeholder="Email Address"
                                      />
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div style="width: 165px;" class="widthStatus">
                                  <div class="inner-row">
                                    <label class="form-label">Type</label>
                                    <mat-form-field appearance="outline">
                                      <!-- <input
                                          matInput
                                          formControlName="type"
                                          placeholder="Type"
                                      /> -->
                                      <mat-select placeholder="Sorting Order" formControlName="type" [compareWith]="compareItems">
                                        <mat-option value="Main Wallet">Main Wallet</mat-option>
                                        <mat-option value="P2P Wallet">P2P Wallet</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div style="width: 165px;" class="widthStatus1">
                                  <div class="inner-row">
                                    <label class="form-label">Sorting Order</label>
                                    <mat-form-field appearance="outline">
                                      <mat-select placeholder="Sorting Order" formControlName="sortOption" [compareWith]="compareItems">
                                        <mat-option value="-1">Descending Order</mat-option>
                                        <mat-option value="1">Ascending Order</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <!-- <div style="width: 165px;" class="widthStatus1">
                                  <div class="inner-row">
                                    <label class="form-label">Date</label>
                                    <mat-form-field appearance="outline">
                                      <input type="date" matInput
                                      formControlName="datevalue"
                                      placeholder="Date filter" />
                                    </mat-form-field>
                                  </div>
                                </div> -->
                                <div style="width: 250px;" class="widthStatus1">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Enter a date Range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" >
                                      <input  matInput matStartDate placeholder="Start date" formControlName="fromdate">
                                      <input  matInput matEndDate placeholder="End date" formControlName="todate" >
                                    </mat-date-range-input>
                                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  </mat-form-field>
                                </div>
                                <div class="widthStatus1">
                                <button mat-button type="submit" class="btn-save">
                                Filter Users
                                </button>
                                </div>
                                <div class="widthStatus1">
                                <button mat-button (click)="ExportToCsv()" type="button" class="btn-save">
                                Export CSV
                                </button>
                                </div>
                                <div>
                                  <button  mat-button  matTooltip="Refresh" mat-icon-button 
                                  (click)="refresh()" class="btn-save">
                                    <mat-icon>refresh</mat-icon>
                                  </button>
                                </div>
                          </div>
                            </form>
                            <div class="example-container mat-elevation-z8">

                                <mat-table [dataSource]="ActivityTbl.data.length > 0 && ActivityTbl.filteredData.length > 0 ? ActivityTbl:emptyData" matSort>
                                    <!-- ID Column -->
                                    <ng-container matColumnDef="dateTime">
                                      <mat-header-cell *matHeaderCellDef>
                                        Date/Time
                                      </mat-header-cell>
                                      <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="ip"
                                        ><span class="mobile-label">Date/Time:</span>
                                        <span>{{ row.dateTime | date:"MMM dd, y, HH:mm:ss" }}</span></mat-cell
                                      >
                                    </ng-container>
  
                                
                  
                                    <ng-container matColumnDef="email">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Email
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="email"
                                        ><span class="mobile-label">Email:</span>
                                        {{ row.userId.email }}
                                      </mat-cell>
                                    </ng-container>
                  
                                    <ng-container matColumnDef="walletType">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Wallet Type
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="walletType"
                                        ><span class="mobile-label">Wallet Type:</span>
                                        -{{ row.walletType }}
                                      </mat-cell>
                                    </ng-container>
                  
                                    <ng-container matColumnDef="oldBalance">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        OldBalance                                    </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="oldBalance"
                                        ><span class="mobile-label">Old Balance:</span>
                                        {{ row.oldBalance}}
                                      </mat-cell>
                                    </ng-container>
                                   
                                    <ng-container matColumnDef="newBalance">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        New Balance
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="newBalance"
                                        ><span  class="mobile-label">New Balance:</span>
                                       <p> {{ row.newBalance ? row.newBalance : 'NA'}} </p> 
                                      </mat-cell>
                                    </ng-container>
                  
                                    <ng-container matColumnDef="amount">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Amount
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="amount"
                                        ><span class="mobile-label">Amount:</span>
                                        {{ row.amount }}
                                      </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="currencySymbol">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Currency
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="currencySymbol"
                                        ><span class="mobile-label">Currency:</span>
                                        {{ row.currencyId.currencySymbol }}
                                      </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="reason">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Reason
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="reason"
                                        ><span class="mobile-label">Reason:</span>
                                        {{ row.reason }}
                                      </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Admin Name
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row" data-label="name"
                                        ><span class="mobile-label">Admin Name:</span>
                                        {{ row.adminId.name }}
                                      </mat-cell>
                                    </ng-container>
                                   

                                      <ng-container matColumnDef="empty-row">
                                        <mat-cell *matCellDef="let element">
                                         <span >  No Record Found</span>
                                        </mat-cell>
                                      </ng-container>
                    
                  
                                    <mat-header-row
                                      *matHeaderRowDef="displayedColumns"
                                    ></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: ActivityTbl.data.length > 0 && 
                                      ActivityTbl.filteredData.length > 0 ? displayedColumns: ['empty-row']">
                                    </mat-row>
                                  </mat-table>
                  
                                  <mat-paginator #paginator
                                                [length]="length"
                                                [pageSize]=10
                                                [pageSizeOptions]="[5, 10, 25, 100]"
                                                (page)="changepage($event)">
                                </mat-paginator>
                                 <!-- <button (click)="backpage()" [disabled]=" buttonDisabled " >
                                  <mat-icon>arrow_backward_ios</mat-icon> Back Page
                                </button>
                                &nbsp;
                                <button (click)="nextPage()" [disabled]="len == 0"  >
                                  <mat-icon>arrow_forward</mat-icon> Next Page
                                </button> -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>