<section class="sect-one">
  <div class="container">
    <div class="layout-container">
      <div class="layout">
        <div class="sect-one-block">
          <div
            class="sect-container"
            fxLayout="column"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutGap="20px"
          >
            <div
              class="sect container-12"
              fxLayout="column"
              fxLayout.sm="column"
              fxLayout.xs="column"
              fxLayoutGap="10px"
            >
              <div class="headline align-left mrg-botval">
                Futures Subacc List
              </div>
              <form [formGroup]="form" (ngSubmit)="filterTable()">
                <div
                  fxLayout="row"
                  fxLayoutGap="20px"
                  fxLayoutAlign="start center"
                  class="outer-row"
                >
                  <div style="width: 165px" class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">Search</label>
                      <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="searchQuery"
                          placeholder="Search"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px" class="widthStatus1">
                    <div class="inner-row">
                      <label class="form-label">User Status</label>
                      <mat-form-field appearance="outline">
                        <mat-select
                          placeholder="User Status"
                          formControlName="status"
                          [compareWith]="compareItems"
                        >
                          <mat-option value="">All Users</mat-option>
                          <mat-option value="1">Active</mat-option>
                          <mat-option value="0">De-Active</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px" class="widthStatus1">
                    <div class="inner-row">
                      <label class="form-label">KYC Status</label>
                      <mat-form-field appearance="outline">
                        <mat-select
                          placeholder="KYC Status"
                          formControlName="kycstatus"
                          [compareWith]="compareItems"
                        >
                          <mat-option value="">All KYC Users</mat-option>
                          <mat-option value="0">Pending Approval</mat-option>
                          <mat-option value="1">Approved</mat-option>
                          <mat-option value="2">Rejected</mat-option>
                          <mat-option value="3">Not Uploaded</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px" class="widthStatus1">
                    <div class="inner-row">
                      <label class="form-label">Bank Account Status</label>
                      <mat-form-field appearance="outline">
                        <mat-select
                          placeholder="Bank Account Status"
                          formControlName="bankstatus"
                          [compareWith]="compareItems"
                        >
                          <mat-option value="">All Bank Users</mat-option>
                          <mat-option value="0">Pending Approval</mat-option>
                          <mat-option value="1">Approved</mat-option>
                          <mat-option value="2">Rejected</mat-option>
                          <mat-option value="3">Not Uploaded</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px" class="widthStatus1">
                    <div class="inner-row">
                      <label class="form-label">Sorting Order</label>
                      <mat-form-field appearance="outline">
                        <mat-select
                          placeholder="Sorting Order"
                          formControlName="sortOption"
                          [compareWith]="compareItems"
                        >
                          <mat-option value="-1">Descending Order</mat-option>
                          <mat-option value="1">Ascending Order</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 250px" class="widthStatus1">
                    <mat-form-field appearance="fill">
                      <mat-label class="form-label">Register On</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input
                          matInput
                          matStartDate
                          placeholder="Start date"
                          formControlName="fromdate"
                        />
                        <input
                          matInput
                          matEndDate
                          placeholder="End date"
                          formControlName="todate"
                        />
                      </mat-date-range-input>
                      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="widthStatusButton">
                    <button mat-button type="submit" class="btn-save">
                      Filter Users
                    </button>
                  </div>
                  <div class="widthStatusButton">
                    <button
                      mat-button
                      (click)="ExportToCsv()"
                      type="button"
                      class="btn-save"
                    >
                      Export CSV
                    </button>
                  </div>
                  <!-- <div style="width: 105px;" class="widthStatus">
                                <label class="form-label">Page</label>
                                <mat-form-field appearance="outline">
                                <input 
                                matInput
                                type="text"
                                formControlName="pageNumber">
                              </mat-form-field>
                              </div> -->
                  <div>
                    <button
                      mat-button
                      matTooltip="Refresh"
                      mat-icon-button
                      (click)="refresh()"
                      class="btn-save"
                    >
                      <mat-icon>refresh</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
              <div class="example-container mat-elevation-z8">
                <!-- <mat-table [dataSource]="currencyTbl" matSort> -->
                <mat-table
                  [dataSource]="
                    currencyTbl.data.length > 0 &&
                    currencyTbl.filteredData.length > 0
                      ? currencyTbl
                      : emptyData
                  "
                  matSort
                >
                  <!-- ID Column -->
                  <ng-container matColumnDef="registerOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Register On
                    </mat-header-cell>
                    <mat-cell
                      class=""
                      *matCellDef="let row"
                      data-label="registerOn"
                      ><span class="mobile-label">Register On:</span>
                      <span>{{
                        row.registerOn | date : "MMM dd, y, HH:mm:ss"
                      }}</span></mat-cell
                    >
                  </ng-container>
                  <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      User Name
                    </mat-header-cell>
                    <mat-cell
                      class="link-clr crs-ptr"
                      *matCellDef="let row"
                      data-label="username"
                      ><span class="mobile-label">User Name:</span>
                      <span>{{
                        row.username != "" ? row.username : "-"
                      }}</span></mat-cell
                    >
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="email"
                      ><span class="mobile-label">Email:</span>
                      {{
                        row.email != "" && row.email != undefined
                          ? row.email
                          : "-"
                      }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="phoneno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Phone
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="phoneno"
                      ><span class="mobile-label">Phone:</span>
                      {{ row.phoneno }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="status"
                      ><span class="mobile-label">Status:</span>
                      {{ row.status == 1 ? "Active" : "De-Active" }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="kycstatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      KYC Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="kycstatus"
                      ><span class="mobile-label">KYC Status:</span>
                      {{
                        row.kycstatus == 1
                          ? "Approved"
                          : row.kycstatus == 2
                          ? "Rejected"
                          : row.kycstatus == 0
                          ? "Pending"
                          : "Not Uploaded"
                      }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="bankstatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Bank Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="bankstatus"
                      ><span class="mobile-label">Bank Status:</span>
                      {{
                        row.bankstatus == 1
                          ? "Approved"
                          : row.bankstatus == 2
                          ? "Rejected"
                          : row.bankstatus == 0
                          ? "Pending"
                          : "Not Uploaded"
                      }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="tfaenablekey">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      2FA Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="tfaenablekey"
                      ><span class="mobile-label">2FA Status:</span>
                      {{ row.tfaenablekey != "" ? "Active" : "De-Active" }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>
                    <mat-cell
                      *matCellDef="let element; let i = index"
                      data-label="action"
                    >
                      <span
                        class="material-icons crs-ptr"
                        (click)="viewUsers(element._id)"
                      >
                        preview
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="empty-row">
                    <mat-cell *matCellDef="let element">
                      <span> No Record Found</span>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="
                      let row;
                      columns: currencyTbl.data.length > 0 &&
                      currencyTbl.filteredData.length > 0
                        ? displayedColumns
                        : ['empty-row']
                    "
                  >
                  </mat-row>
                  <!-- <mat-row  *matRowDef="let row; columns: currencyTbl.data.length > 0 && currencyTbl.data.length == 0 ? displayedColumns : ['empty-row'];">

                                </mat-row> -->
                  <!-- <mat-footer-row *matFooterRowDef="['isDataAvailable']" [ngClass]="{'hide':!(currencyTbl.data.length > 0 && currencyTbl.data.length ==0)}">
                                </mat-footer-row> -->
                </mat-table>

                <mat-paginator
                  #paginator
                  [length]="len"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="changepage($event)"
                >
                </mat-paginator>
                <!-- <button (click)="backpage()" [disabled]=" buttonDisabled " >
                                <mat-icon>arrow_backward_ios</mat-icon> Back Page
                              </button>
                              &nbsp;
                              <button (click)="nextPage()" [disabled]=" len === 0"  >
                                <mat-icon>arrow_forward</mat-icon> Next Page
                              </button> -->
              </div>
              <!-- <div *ngIf="currencyTbl.data.length == 0">
                              <p> No records Found</p>
                          </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
