<section class="sect-one">
  <div class="container">
    <div class="layout-container">
      <div class="layout">
        <div class="sect-one-block">
          <div class="sect-container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
            <div class="sect container-12" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
              fxLayoutGap="10px">
              <div class="headline align-left mrg-botval">Transactions List
              </div>
              <form [formGroup]="form" (ngSubmit)="filterTable()">
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="outer-row">
                  <div class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">User Name / Email Address</label>
                      <mat-form-field appearance="outline">
                        <input matInput formControlName="searchQuery" placeholder="User Name / Email Address" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px;" class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">Transaction Status</label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Transaction Status" formControlName="status"
                          [compareWith]="compareItems">
                          <mat-option value="">All Transactions</mat-option>
                          <mat-option value="0">Pending</mat-option>
                          <mat-option value="1">Completed</mat-option>
                          <mat-option value="2">Rejected</mat-option>                        
                          <mat-option value="5">Processing</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div style="width: 165px;" class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">Deposit Type</label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Deposit Type" formControlName="depositType" [compareWith]="compareItems">
                          <mat-option value="">All Transactions</mat-option>
                          <mat-option value="Wallet Balance">Wallet Balance</mat-option>
                          <mat-option value="Pre Booking">Pre Booking</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div style="width: 165px;" class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">Type</label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Type" formControlName="type" [compareWith]="compareItems">
                          <mat-option value="">All Transactions</mat-option>
                          <mat-option value="Deposit">Deposit</mat-option>
                          <mat-option value="Withdraw">Withdraw</mat-option>
                          <mat-option value="Wallet Transfer">Wallet Transfer</mat-option>
                          <mat-option value="Main Wallet To P2P Wallet">Main Wallet To P2P Wallet</mat-option>
                          <mat-option value="P2P Wallet To Main Wallet">P2P Wallet To Main Wallet</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 165px;" class="widthStatus">
                    <div class="inner-row">
                      <label class="form-label">Currency</label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Type" formControlName="currencyId" [compareWith]="compareItems">
                          <mat-option value="">All Transactions</mat-option>
                          <mat-option *ngFor="let cur of currencies" value="{{cur._id}}">
                            {{cur.currencySymbol}}{{cur.basecoin != 'Coin' ? ' - '+cur.basecoin : ''}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: 250px;" class="widthStatus1">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter Transaction Date Range</mat-label>
                      <mat-date-range-input [rangePicker]="picker" >
                        <input  matInput matStartDate placeholder="Start date" formControlName="fromdate">
                        <input  matInput matEndDate placeholder="End date" formControlName="todate" >
                      </mat-date-range-input>
                      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="widthStatusButton">
                    <button mat-button type="submit" class="btn-save">
                      Filter Transactions
                    </button>
                  </div>
                  <div class="widthStatusButton">
                    <button mat-button (click)="ExportToCsv()" type="button" class="btn-save">
                      Export CSV
                    </button>
                  </div>
                  <!-- <div style="width: 105px;" class="widthStatus">
                    <label class="form-label">Page</label>
                    <mat-form-field appearance="outline">
                      <input matInput type="text" formControlName="pageNumber">
                    </mat-form-field>
                  </div> -->
                  <div>
                    <button mat-button matTooltip="Refresh" mat-icon-button (click)="refresh()" class="btn-save">
                    <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                </div>

              </form>
              <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="transactionsTbl.data.length > 0 && transactionsTbl.filteredData.length > 0 ? transactionsTbl:emptyData" matSort>
                  <!-- ID Column -->
                  <ng-container matColumnDef="createdDate">
                    <mat-header-cell *matHeaderCellDef>
                      Transaction Date
                    </mat-header-cell>
                    <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="createdDate"><span
                        class="mobile-label">Transaction Date:</span>
                      <span>{{ row.createdDate | date:"MMM dd, y, HH:mm:ss"}}</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef>
                      User Name
                    </mat-header-cell>
                    <mat-cell class="link-clr crs-ptr" *matCellDef="let row" data-label="username"><span
                        class="mobile-label">User Name:</span>
                      <!-- <span>{{ row.userId.username }}</span></mat-cell -->
                      <span>{{ row.userId.username }}</span>
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>
                      Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="email"><span class="mobile-label">Email:</span>
                      <!-- {{ row.userId.email }} -->
                      {{ row.userId.email }}

                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="currency">
                    <mat-header-cell *matHeaderCellDef>
                      Currency
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="currency"><span class="mobile-label">Currency:</span>
                      {{ row.currencyId.currencySymbol }}{{row.currencyId.basecoin != 'Coin' ? ' - '+row.currencyId.basecoin : ''}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="amount"><span class="mobile-label">Amount:</span>
                      {{ row.amount }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="type"><span class="mobile-label">Type:</span>
                      {{ (row.type == 'Deposit' || row.type == 'Withdraw') ? row.type : row.txnId }} {{ (row.currencyId.currencySymbol == 'INR' && row.type == 'Deposit' && row.depositType == 'Pre Booking') ? ' - Pre Booking' : ''}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="status"><span class="mobile-label">Status:</span>
                      {{row.status == 1 ? 'Approved' : row.status == 0 ? 'Pending' : row.status == 2 ? 'Rejected' : (row.status == 5 && row.adminVerify == 'verified') ? 'Processing' : 'Admin Verification Pending'}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" data-label="action">
                      <span class="material-icons crs-ptr" (click)="viewUsers(element._id)">
                        preview
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="empty-row">
                    <mat-cell *matCellDef="let element">
                     <span >  No Record Found</span>
                    </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: transactionsTbl.data.length > 0 && 
                    transactionsTbl.filteredData.length > 0 ? displayedColumns: ['empty-row']">
                  </mat-row>
                </mat-table>

                <mat-paginator #paginator
                [length]="length"
                [pageSize]=10
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="changepage($event)">
              </mat-paginator>
                <!-- <button (click)="backpage()" [disabled]="buttonDisabled" >
                  <mat-icon>arrow_backward_ios</mat-icon> Back Page
                </button>
                &nbsp;
                <button (click)="nextPage()" [disabled]=" len === 0"  >
                  <mat-icon>arrow_forward</mat-icon> Next Page
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>