<section class="sect-transaction">
  <div class="container">
    <div class="layout-container">
      <div class="layout">
        <div class="sect-transaction-block">
          <div class="">
            <div class="prev-pagediv">
              <button
                (click)="backRedirectBtn()"
                mat-button
                class="mat-button btn-back flot-rt"
              >
                <mat-icon>arrow_left_alt</mat-icon>Back
              </button>
            </div>
          </div>
          <!-- Without Loading Start -->
          <div class="width-100">
            <div class="headline align-left mrg-botval">Futures USDT Move</div>

            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>User Name :</div>
              <div>
                {{ transactionsDetails.userDetails.username }}
              </div>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Email :</div>
              <div>
                {{ transactionsDetails.userDetails.email }}
              </div>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Amount :</div>
              <div>
                <!-- 1455.24 USDT -->
                {{ transactionsDetails.amount }}
                <!-- 
                {{ transactionsDetails.currencyDet.currencySymbol }} -->
              </div>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Move From :</div>
              <div>
                {{ transactionsDetails.from }}

                <!-- Stop [Unitc Exchange] -->
                <!-- {{ transactionsDetails.currencyDet.currencySymbol
                }}{{
                  transactionsDetails.currencyDet.basecoin != 'Coin'
                    ? ' - ' + transactionsDetails.currencyDet.basecoin
                    : ''
                }} -->
              </div>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Move To :</div>
              <div>
                {{ transactionsDetails.to }}

                <!-- Futures [Kucoins] -->
                <!-- {{ transactionsDetails.type }} -->
              </div>
            </div>
            <div class="headline align-left mrg-botval">Move Address</div>
            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Network:</div>
              <div>
                <!-- {{
                  transactionsDetails.txnId != ''
                    ? transactionsDetails.txnId
                    : '-'
                }} -->
              </div>
            </div>

            <div
              *ngFor="let wallet of wallets"
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>
                {{ wallet.chain }}
              </div>
              <div>
                {{ wallet.address }}
              </div>
            </div>

            <div
              *ngIf="transactionsDetails.status !== 'Pending'"
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Status :</div>
              <div>{{ transactionsDetails.status }}</div>
            </div>
            <div
              *ngIf="transactionsDetails.status === 'Pending'"
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              class="outer-row space1"
            >
              <div>Status :</div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-select
                    [(value)]="selectedStatus"
                    (selectionChange)="onStatusChange($event)"
                  >
                    <mat-option
                      *ngFor="let status of statusOptions"
                      [value]="status"
                    >
                      {{ status }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
